<!-- views/org.ejs -->
<!doctype html>
<html>
<head>
    <title>Juven Test</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
        body        { padding-top:80px; word-wrap:break-word; background-color:lightgreen; }
		#delete		{ margin-top:10px; }
		.event		{ background-color:gold; border: 2px;}
    </style>
</head>
<body>

	<div class="container">

    	<div class="page-header text-center">
        	<h1><span class="fa fa-group"></span> <%= org.orgname%></h1>
        	<a href="/profile" class="btn btn-default btn-sm" id="#profile">Back to Profile</a>
        	<a href="#admins" class="btn btn-default btn-sm">Admins</a>
        	<a href="#members" class="btn btn-default btn-sm">Members</a>
        	<a href="#events" class="btn btn-default btn-sm">Events</a><br>

        	<!-- this code works, we just need to toggle it off for non-admin users -->
        	<form action="/deleteorg" method="post">
                <input type="text" class="form-control hidden" name="_id" value="<%=org._id%>" readonly>
                <button type="submit" class="btn btn-danger btn-sm">Delete Org</button>
            </form>

            <form action="/leaveorg" method="post">
                <input type="text" class="form-control hidden" name="_id" value="<%=org._id%>" readonly>
                <button type="submit" class="btn btn-danger btn-sm">Leave Org</button>
            </form>
    	</div>

		<div class="well" id="admins">
			<h3>Org Admins</h3>
			<% for (var counter = 0; counter < org.admins_array.length; counter++){ %>
				<p> <%= org.admins_array[counter].admin.local.username%> </p>
				<form action="/removeadmin" method="post">
                	<input type="text" class="form-control hidden" name="adminId" value="<%=org.admins_array[counter].admin._id%>" readonly>
                	<input type="text" class="form-control hidden" name="orgId" value="<%=org._id%>" readonly>
                	<button type="submit" class="btn btn-default btn-sm">Remove Admin</button>
            	</form>
			<%}%>
		</div>

		<div class="well" id="members">
			<h3>Org Members</h3>
			<% for (var counter2 = 0; counter2 < org.members_array.length; counter2++){ %>
				<p><%= org.members_array[counter2].member.local.username%>	</p>
				<form action="/makeadmin" method="post">
                	<input type="text" class="form-control hidden" name="memberId" value="<%=org.members_array[counter2].member._id%>" readonly>
                	<input type="text" class="form-control hidden" name="orgId" value="<%=org._id%>" readonly>
                	<button type="submit" class="btn btn-default btn-sm">Make Admin</button>
            	</form>
            	<form action="/kick" method="post">
                	<input type="text" class="form-control hidden" name="memberId" value="<%=org.members_array[counter2].member._id%>" readonly>
                	<input type="text" class="form-control hidden" name="orgId" value="<%=org._id%>" readonly>
                	<button type="submit" class="btn btn-default btn-sm">Kick from Org</button>
            	</form>
			<%}%>

			<h3>Pending Invites</h3>
			<% for (var counter3 = 0; counter3 < org.invitations_array.length; counter3++){ %>
				<p><%= org.invitations_array[counter3].invited.local.username%>	</p>
			<%}%>

			<form action="/invite" method="post">
                <input type="text" class="form-control" name="username" placeholder="input username of user you wish to invite (must have registered locally)">
                <input type="text" class="form-control hidden" name="_id" value="<%=org._id%>" readonly>
                <button type="submit" class="btn btn-danger btn-sm">Invite</button>
            </form>
		</div>

		<div class="well" id="events">
			<h3>Org Events</h3>
			<% for (var counter4 = 0; counter4 < events.length; counter4++){ %>
				<div class="well event">
					<strong>name</strong>: <%= events[counter4].name%> <br>
					<strong>year</strong>: <%= events[counter4].date.year %><br>
					<strong>month</strong>: <%= events[counter4].date.month %><br>
					<strong>day</strong>: <%= events[counter4].date.day %><br>
					<strong>time</strong>: <%= events[counter4].date.hour %> : <%= events[counter4].date.minute %><br>
					<strong>price</strong>: <%= events[counter4].price.amount %><br>
					<strong>currency</strong>: <%= events[counter4].price.currency %><br>
					<strong>country</strong>: <%= events[counter4].location.country %><br>
					<strong>city</strong>: <%= events[counter4].location.city %><br>
					<strong>participants</strong>:
					<% for (var counter5 = 0; counter5 < events[counter4].participants_array.length; counter5++){ %>
						<strong> <%= events[counter4].participants_array[counter5].member.local.username %> </strong>
					<% } %>
          <br>
					<form action="/deleteevent" method="post">
                        <input type="text" class="form-control hidden" name="_id" value="<%=events[counter4]._id%>" readonly>
                        <button type="submit" class="btn btn-danger btn-sm">Delete Event</button>
                    </form>
					<form action="/addtoevent" method="post">
						  <select class="form-control" name="addMember">
					<% for (var counter6 = 0; counter6 < events[counter4].participants_array.length; counter6++){ %>
							<% for (var counter7 = 0; counter7 < org.members_array.length; counter7++){ %>
							  	<% if (events[counter4].participants_array[counter6].member.id == org.members_array[counter7].member.id){}
                                    else { %>
                                        <option><%= org.members_array[counter7].member.local.username%></option>
                                    <% } %>
                            <% } %>
					<% } %>							
              </select>
              <button type="submit" class="btn btn-info btn-sm">Add Member</button>
          </form>
				</div>
			<%}%>
    </div>

			<div class="well">
				<h4 class="text-warning">Create an Event</h4>
                <form action="/event" method="post">
                    <input type="text" class="form-control hidden" name="org" value="<%=org._id%>" readonly>
                    <div class="form-group">
                        <label>Event Name</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" name="amount">
                    </div>
                    <div class="form-group">
                        <label>Currency</label>
                        <input type="text" class="form-control" name="currency">
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" name="country">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" name="city">
                    </div>
                    <div class="form-group">
                        <label>Image URL</label>
                        <input type="text" class="form-control" name="image_url">
                    </div>
                    <div class="form-group">
                    	<label>Year</label>
                    	<select class="form-control" name="year">
      						      <option>2017</option>
      						      <option>2018</option>
    					        </select>
                    </div>
                    <div class="form-group">
                    	<label>Month</label>
                    	<select class="form-control" name="month">
            					   <% for (var counter8 = 1; counter8 < 13; counter8++){ %>
                                       <option><%= counter8 %></option>
                                   <%}%>
    					        </select>
                    </div>
                    <div class="form-group">
                      <label>Day</label>
                    	 <select class="form-control" name="day">
                                    <% for (var counter9 = 1; counter9 < 32; counter9++){ %>
                                        <option><%= counter9 %></option>
                                    <%}%>
  					         </select>
                    </div>
                    <div class="form-group">
                    	<label>Hour</label>
                    	<select class="form-control" name="hour">
                                    <% for (var counter10 = 0; counter10 < 24; counter10++){ %>
                                        <option><%= counter10 %></option>
                                    <%}%>
  					           </select>
                    </div>
                    <div class="form-group">
                    	<label>Minute</label>
                    	<select class="form-control" name="minute">
      						        <% for (var counter11 = 0; counter11 < 12; counter11++){ %>
                                        <option><%= counter11 * 5 %></option>
                                    <%}%>
      					      </select>
      				      </div>
                    <button type="submit" class="btn btn-warning btn-sm">Create Event</button>
                </form>
      </div>

	</div>

</body>
</html>